.App {
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  /* border: solid; */
  height: 100vh;
  min-width: 1000px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.right-box{
  border: solid;
  min-height: 375px;
  min-width: 100px;
  height: 50vh;
  width: 20%;
  margin: 2%;
}
.left-box{
  border: solid;
  position:  static;
  min-height: 500px;
  min-width: 750px;
  padding: 2%;
  height: 85%;
  margin:2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.last-rolls{
  border: solid;
  display: flex;
  height: 20%;
  flex-direction: column;
  justify-content: space-between;
}
.last-three{
  display: flex;
  /* border: solid; */
  margin: 5px;
  flex-direction: row-reverse;
  justify-content: space-around;
}
/* .lastRoll{
  border: solid;
  border-width: thin;
  padding: 5px;
} */

.num-display{
  font-size:1000%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#mute-btn{
  margin-top: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
